.user-card {
  font-family: "Segoe UI Light";
  font-size: 16px;
  border: black;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  //width: 250px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

.user-card-grid {
  display: grid;
  grid-template-columns: 1fr ;
}

@media (min-width: 600px) {
  .user-card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .user-card-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}